// place your custom styles here

//修改主题颜色
.vp-navbar {
    .auto-link.route-link-active {
        color: var(--vp-c-accent);
    }
}



//去掉目录无序排列
// .vp-catalog-item {
//     &::marker {
//         content: '';
//     }

// }


// .vp-catalog-child-title {
//     .vp-icon {
//         display: none;
//     }
// }

//去掉目录子列表的ICON
.vp-catalog-list {
    .vp-catalog-item {
        .vp-catalog-title {
            .vp-icon {
                display: none;
            }
        }

    }
}

//增加目录H3的ICON
.vp-catalog-item {
    h3 {
        .vp-catalog-title {
            .vp-icon {
                display: inline-block !important;
            }
        }
    }
}

.vp-child-catalogs {
    .vp-icon {
        display: none;
    }

}

.vp-page-title {
    h1 {
        color: #2f845d;
    }
}

//h3标题字体加粗
.vp-catalog-item {
    h3 {
        a {
            color: #2f845d;
            font-weight: bold;
        }

    }
}

//navar下拉
.vp-dropdown-subtitle {
    color: #2f845d !important;
}

.vp-dropdown-wrapper .auto-link {
    padding-left: 1.0rem;
}

// .vp-child-catalog {
//     &::marker {
//         content: '';
//     }

// }

//目录索引index生成
// .index {
//     .vp-catalog-list {
//         .vp-catalog-child-title {
//             .vp-catalog-title {
//                 &::before {
//                     content: counter(catalog-item) '. ' !important;
//                 }
//             }
//         }
//     }
// }

//目录去掉Icon
// .vp-catalog-title,
// .vp-catalog-sub-title {
//     .vp-icon {
//         display: none;
//     }
// }